body {
    display: flex;
    flex-direction: column;
    margin:0;
    height: 100vh;
}

.header_splash,
.gallery,
.quote,
.signup,
.footer {
    display: flex;
    flex: 1;
    margin: 0;
}


/* margins */
.left,
.right {
    flex: 1 1 0;
}

.content {
    flex: 7 1 0;
}


/* background colours */
.header_splash,
.footer {
    background-color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}



/* content */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
}

.header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header h1 {
    color: #f9faf8;
    font-size: 24px;
}

.splash_text {
    color: white;
}


img {
    width: 10px;
}